@{
    ViewData["Title"] = "Uspješna registracija";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UspjesnaRegistracija - VoziBa</title>
    <style>
body {
        font-family:  sans-serif;
        background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url('/images/autalineup.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        padding: 50px;
    }
    </style>
    </head>

    <body>
<div style="text-align:center; margin-top:100px;">
    <h1 style="color:rgba(236, 0, 127)">Uspješna registracija!</h1>
    <p>
        Upravo ste se pridružili svijetu VoziBa — zajednici sigurnih, pouzdanih i slobodnih vozača.
        Spremni ste da krenete svojim putem. Prijavite se i vožnja počinje!
    </p>
</div>
</body>
